extends ../../layout

block content
  h3
    i.fa.fa-data
    |  Facebook data
  .panel.panel-default 
    .panel-heading Request: #{reqMe}
    .panel-body #{JSON.stringify(respMe, null, '\t')}
  .panel.panel-default 
    .panel-heading Request: #{reqFr}
    .panel-body #{JSON.stringify(respFriends, null, '\t')}
